<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="Win">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name ="Sert">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--ne mozemoo da dodamo vise klijenata, ali mozemo vise endpointa  -->
      <endpoint name="Client"  
                address="net.tcp://localhost:26000/ServerPrimary"
                binding="netTcpBinding"
                bindingConfiguration="Win"
                contract="ServiceContract.IService" />

      <endpoint name="ReplicatorClient"
                address="net.tcp://localhost:28000/ReplicatorServer"
                binding="netTcpBinding"
                bindingConfiguration="Sert"
                contract="ServiceContract.IReplicator" />
    </client>
  </system.serviceModel>
</configuration>